*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black; */
  /* padding:5px; */
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: arial, monospace;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}



.all-conteiner{
  background-image: url('../img/bb.png');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.my-template{
  display: none;
}

.my-green{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 50px;
}

.my-green-answer{
  height: 50px;
  border-radius: 8px;
  background-color: #dcf7c0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.my-white{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 50px;
}

.my-white-answer{
  height: 50px;
  border-radius: 8px;
  background-color: white;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}


.my-invia{
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f2eeea;
  z-index: 999;

}

input{
  border-radius: 6px;
  width: 80%;
  height: 90%;
  border: none;
}


/* media query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
