*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}

.background{
  z-index: -2;
  background-color: #dadbd4;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
}
header{
  background-color: #409388;
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

.my-profile, .his-profile{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search{
  background-color: #fafafa;
}
#input-search{
  font-family: 'Helvetica', FontAwesome, sans-serif;
  font-size: 15px;
  border: 1px solid #e4e1e1;
  border-radius: 1px;
  display: flex;
  justify-content:  center;
  align-items: center;
  padding: 10px 20px;
}


.notifications{
  background-color: #9ed9f8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.notifications a{
  color: #577383;
  font-size: 14px;
}

.bell-icon{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell-icon i{
  color: #9ed9f8;
  font-size: 20px;
}

.my-profile-pic, .his-profile-pic {
  width: 50px;
  height: 50px;
}

.other-prof-pic{
  width: 60px;
  height: 60px;
}
.my-profile-pic img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.other-prof-pic > img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.other-profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-prof-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.other-prof-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.his-profile-pic img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.his-prof-left{
  display: flex;
  align-items: center;
}


/* template */
.my-li-green{
  position: relative;
}

.delete{
  display: none;
  background-color: white;
  width:140px;
  height: 60px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.show{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hide{
  display: none;
}
.all-container{
  width: 80%;
  margin: auto;
  display: flex;
  height: calc(100vh - 30px);
  margin-top: 30px;
}

.left-container{
  background-color: white;
  width: 30%;
  height: 100%;
}

.right-container{
  background-image: url('../img/bb.png');
  width: 70%;
  height: 100%;
  background-attachment: fixed;
  position: relative;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  height: calc(100vh - 170px);
  overflow-y: auto;
  padding-top: 10px;
}

.my-template{
  display: none;
}

.my-green{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 50px;
  position: relative;
}

.delete{
  position: absolute;
  right: 30px;
  top: 20px;
}

.my-green-answer{
  height: 50px;
  border-radius: 8px;
  background-color: #dcf7c0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.my-white{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 50px;
}

.my-white-answer{
  height: 50px;
  border-radius: 8px;
  background-color: white;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}


.my-invia{
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #f2eeea;
  z-index: 999;

}

input{
  border-radius: 6px;
  width: 80%;
  height: 90%;
  border: none;
}


/* media query */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
